[submodule "src/Modules/Lombiq.HelpfulExtensions"]
	path = src/Modules/Lombiq.HelpfulExtensions
	url = https://github.com/Lombiq/Helpful-Extensions.git
	branch = dev
[submodule "src/Utilities/Lombiq.Npm.Targets"]
	path = src/Utilities/Lombiq.Npm.Targets
	url = https://github.com/Lombiq/NPM-Targets.git
	branch = dev
[submodule "src/Utilities/Lombiq.NodeJs.Extensions"]
	path = src/Utilities/Lombiq.NodeJs.Extensions
	url = https://github.com/Lombiq/NodeJs-Extensions.git
	branch = dev
[submodule "src/Libraries/Lombiq.HelpfulLibraries"]
	path = src/Libraries/Lombiq.HelpfulLibraries
	url = https://github.com/Lombiq/Helpful-Libraries.git
	branch = dev
[submodule "src/Themes/Lombiq.BaseTheme"]
	path = src/Themes/Lombiq.BaseTheme
	url = https://github.com/Lombiq/Orchard-Base-Theme
	branch = dev
