@import "../components/mixins/button";
@import "../abstracts/native-variables";
@import "../abstracts/mixins";

.Gray {
    background: linear-gradient(330deg, gray, transparent);
}

.White {
    background: linear-gradient(330deg, white, transparent);
}

.Black {
    background: linear-gradient(330deg, black, transparent);
}

.ExpandableWidget {
    &:nth-child(1) {
        margin-top: 2rem;
    }

    &__title {
        color: var(--color-darkred);
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        border-style: none;
        width: 100%;
        transition: opacity 0.33s ease;
    }

    &__titleText {
        width: 80%;
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        font-family: var(--font-title);
    }

    &__textAndImage {
        background: var(--color-white);
        display: block;
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        transition: padding 0.3s ease-in, max-height 0.3s ease, visibility 0.2s ease-in, opacity 0.1s ease-in;

        @include media-breakpoint-up(xs) {
            display: flex;
        }
    }

    &__text {
        padding-bottom: 2.5rem;

        @include media-breakpoint-up(xl) {
            width: 50%;
            padding-bottom: unset;
            padding-top: 8rem;
        }

        .ImageButton:hover {
            opacity: 0.8;
        }
    }

    &__image {
        height: 400px;

        @include media-breakpoint-up(xl) {
            padding-left: 15%;
        }
    }

    &__arrow {
        background-image: url("/ValorantStuff.Theme/images/valorant-arrow-down2.svg");
        width: 30px;
        height: 30px;
        transition: transform 0.33s ease;
    }

    .open &__title {
        opacity: 0.8;
    }

    .open &__arrow {
        transform: rotate(180deg);
    }

    .open &__textAndImage {
        display: block;
        max-height: 1200px;
        padding: 2rem 2rem 4rem;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.45s ease, max-height 0.45s ease, padding 0.001s ease;

        @include media-breakpoint-up(xl) {
            display: flex;
        }
    }
}
