@import "../abstracts/native-variables";
@import "../abstracts/mixins";

.mainPageYt {
    width: 100%;
    height: 300px;

    @include padding-bottom-gutter;

    @include media-breakpoint-up(xs) {
        height: 500px;
    }

    @include media-breakpoint-up(md) {
        height: 800px;
    }

    @include media-breakpoint-up(xl) {
        height: 1000px;
    }

    @include media-breakpoint-up(xxl) {
        height: 800px;
    }

    @media (min-width: 1900px) {
        height: 1000px;
    }
}

.mainPageDesc {
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: 600;
}
