/*@import "../abstracts/mixins";*/

.heroPart__container {
/*    @include margin-left-gutter($multiplier: -1);
    @include margin-right-gutter($multiplier: -1);*/

    @media (min-width: 1400px) {
        margin-left: calc(-1 * var(--page-margin-xx-large));
        margin-right: calc(-1 * var(--page-margin-xx-large));
    }

    &.black {
        background-color: black;
    }

    &.gray {
        background-color: gray;
    }

    &.white {
        background-color: white;
    }
}

.heroPart {
    padding: 4rem var(--gutter-xx-large) 4rem var(--gutter-xx-large);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media(min-width: 1200px) {
        padding-bottom: 8rem;
        padding-top: 8rem;
    }

    @media(min-width: 1400px) {
        padding-left: var(--page-margin-xx-large);
        padding-right: var(--page-margin-xx-large);
    }

    &__title {
        font-weight: 600;
        max-width: 408px;

        /*@include padding-bottom-gutter;*/
        padding-bottom: 4rem;

        @media(min-width: 1200px) {
            max-width: 559px;
        }

        @media(min-width: 1400px) {
            max-width: 687px;
        }
    }

    &__body {
        max-width: 512px;
        font-size: 16px;

        @media(min-width: 768px) {
            max-width: 702px;
        }

        @media(min-width: 1200px) {
            max-width: 557px;
        }
    }
}
