@import "../components/mixins/button";
@import "../abstracts/native-variables";
@import "../abstracts/mixins";

.valorantStuffMainMenu {
    position: relative;
    gap: 10px;
    background-color: white;
    height: auto;
    box-shadow: 0 8px 32px rgba(0 0 0 / 0.1);

    &.layoutElement {
        padding: 24px 0;
        background: radial-gradient(black, transparent);

        @include media-breakpoint-up(lg) {
            padding: 58px 32px;
        }
    }
    // This container is rendered by default, it's empty but not used, so we can hide it.
    & > .container-fluid {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        height: 70px;
    }

    @include media-breakpoint-up(xxl) {
        height: 80px;
    }

    &__container {
        display: flex;
        align-items: flex-start;

        @include media-breakpoint-up(lg) {
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
        // We don't want to change the original behaviour above lg, so it's simpler to use "media-breakpoint-down".
        @include media-breakpoint-down(lg) {
            max-width: unset;
            padding-right: 0;
            padding-left: 0;
        }

        &__logo {
            padding: 0.4rem;
            margin-left: 1rem;
            width: 7rem;
            height: 5rem;
        }

        .navbar-collapse {
            flex-grow: 0;
        }
    }

    &__togglerButton {
        display: flex;
        flex: none;
        flex-grow: 0;
        border: none;
        padding-right: 32px;

        &__togglerIcon {
            background-image: url("../images/main-menu-open-icon.svg");
            width: 30px;
            height: 20px;
        }

        .collapse {
            &.show {
                background-image: url("../images/main-menu-close-icon.svg");
            }

            &:not(.show) {
                display: inline-block;
            }
        }
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    &__mainMenu {
        padding-top: 32px;

        li {
            padding: 16px 32px;
            margin-top: 8px;
            margin-bottom: 8px;
            height: 56px;

            @include media-breakpoint-up(lg) {
                padding: 0 10px;
            }

            @include media-breakpoint-up(xl) {
                padding: 0 20px;
            }

            a {
                font-family: var(--font-title);
                font-size: 20px;
                padding: 0.8rem;
                color: var(--color-darkred);
                border-radius: 22px;
                font-style: italic;
                background: radial-gradient(lightgray, transparent);
                text-decoration: none;

                &:hover {
                    color: var(--color-black);
                }

                @include media-breakpoint-up(lg) {
                    font-size: 22px;
                    padding: 1rem;
                    border-radius: 30px;
                }
            }
        }
    }
}
